<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon - Payment Application UI</title>

    <!-- tailwind -->
    <link rel="stylesheet" href="../src/tailwind.css">

</head>
<body class='bg-gray-200 select-none '>
    
    <!-- container -->
    <div id="app" class="flex justify-center space-x-10 items-center bg-gray-200  ">

        <!-- app mockup -->
        <div class="flex flex-col w-full lg:w-3/12 bg-gray-100 my-0 lg:my-5 pb-2 lg:pb-5 rounded-none lg:rounded-lg">

            <!-- back arrow -->
            <div class="flex p-5">
                <a href="./home.html">
                    <div class="flex space-x-5">
                        <img src="../assets/back.png" alt="back arrow" class="cursor-pointer select-none">
                        <div class="font-semibold text-gray-700 text-sm">History</div>
                    </div>
                </a>
            </div>            

            <div class="flex items-center flex-col py-5">
                <img src="./../assets/confenti.png" alt="">
                <div class="font-bold text-yellow-400 text-2xl">My Receipt</div>
            </div>
            

            <div class="flex p-5">                         
                <receipt-card></receipt-card>
            </div>

            <div class="p-5 flex justify-center items-center text-center">
                <div class="font-semibold text-gray-500 text-md w-10/12 select-none">
                    It will take less than 24 hours to process it
                </div>
            </div>

            <!-- mobile navigation -->
            <mobile-navigation></mobile-navigation>

        </div>

    </div>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- script -->
    <script src="../js/app.js" type="module"></script>

</body>
</html>